<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    {# Load the tag library #}
    {% load bootstrap4 %}
    {# Load CSS and JavaScript#} 
    {% bootstrap_css %} 
    {% bootstrap_javascript %} 
    {# Display django.contrib.messages as Bootstrap alerts #} 
    {% bootstrap_messages %}

    <style>
      body {
        align-self: center;
      }  
      img {
        max-width: 100%;
        height: auto;
      }
    </style>

  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">MOUNTAIN</a>
      </div>
    </nav>

    <main role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">มองเขา...ไปกับเรา</h1>
        </div>
      </div>

      <div class="container">
        {% for post in test %}
        <!-- Example row of columns 
        
        <div class="row pb-3">
          <div class="col-md-4">
            -->
            <div class="card">
              <div class="card-header">ที่นี่กาญจนบุรี</div>
              <div class="card-body">
                <h5 class="card-title">{{post.title}}</h5>
                    <img src="{{post.image.url}}" alt="">
                <p class="card-text">{{post.body}}</p>
              </div>
            </div>
        {% endfor %}
        <hr />
      </div>
      
      <!-- /container -->
    </main>

    <footer class="container">
      <p>&copy; SciTech STOU 2022</p>
    </footer>

  </body>
</html>
